.container {
  margin: auto;
  padding: 0;
  max-width: 744px;
  font-family: 'Roboto', sans-serif;
}
.swap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}
.btn {
  width: 50%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  border: none;
  background: inherit;
  cursor: pointer;
}
.btn-active {
  color: #117DC1;
  background: #EDF9FF;
  border-radius: 16px;
}
.list {
  list-style-type: none;
}
.list__user {
  position: relative;
  margin-bottom: 25px;
}
.list__user-span {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 130%;
}
.list__album {
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
}
.list__album-span {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
}
.list-photo-wrapp {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 42px;
  grid-row-gap: 42px;
  width: max-content;
  margin-top: 25px;
  margin-bottom: 25px;
}
.photo-wrapper {
  position: relative;
  width: 150px;
  height: 150px;
  display: block;
}
.photo-wrapper:hover::after {
  position: absolute;
  top: 130px;
  left: 40px;
  width: 150px;
  height: max-content;
  padding: 8px;
  content: attr(data-title);
  background: rgba(0, 0, 0, 0.69);
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
  color: #FFF;
  z-index: 4;
}
.photo {
  width: 100%;
  border-radius: 4px;
}
.photo:hover {
  cursor: pointer;
  content: attr(atl);
  z-index: 1111;
}
/*.photo:hover::after {*/
/*  */
/*}*/
.photo-fullscreen {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: opacity 0.2s;
}
.close-modal {
  position: fixed;
  right: 60px;
  top: 60px;
  width: 24px;
  height: 24px;
  z-index: 3;
}
.close-modal:hover {
  cursor: pointer;
}
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #F4F4F4;
  overflow: hidden;
  z-index: 1;
  transition: opacity 0.2s;
}
.star-favorite {
  position: absolute;
  top: 8px;
  right: 8px;
}
.star-favorite:hover {
  cursor: pointer;
}
.inductee {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 42px;
  grid-row-gap: 42px;
  width: max-content;
  margin: auto;

}
.inductee-wrapp {
  position: relative;
  width: 150px;
}
.description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
}
.icon-list {
  position: absolute;
  top: 0;
  left: -50px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 206px;
}
.empty__img {
  width: 264px;
  height: 198px;
}
.empty__title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
}
.empty__text {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}
.loader {
  width: 48px;
  height: 48px;
  padding: 150px 0;
  margin-left: 45%;
}